{% extends "base.html" %}

{% block title %}Agents list{% endblock %}

{% block content %}
  <style>
  .agent-page{min-height:650px;}
  .modify-open-button{margin-top:2px;}
  </style>
    <div class="container agent-page">
        <div class="row">
            <div class="col-md-12">
                <h2>Agents</h2>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                 <a href="{% url 'moderator_create_user' %}" class="btn btn-primary">Create New Agent</a>
                {% if agents %}
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>MLS ID</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for agent in agents %}
                    <tr>
                        <td>{{ agent.name }}</td>
                        <td>{{ agent.email }}</td>
                        <td>{{ agent.mls_id }}</td>
                        <td>{% if agent.is_active %}<span class="glyphicon glyphicon-user"></span>{% endif %}</td>
                        <td><a href="{% url 'moderator_edit_profile' agent.mls_id %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil modify-open-button"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                {% else %}
                     <p class="lead">No Users Registered.</p>
                {% endif %}


            </div>

        </div>


    </div>

{% endblock %}
