{% extends "base.html" %}

{% block title %}Edit Agent Profile{% endblock %}

{% block content %}
    <style>
    #edit_profile .form-group input{
      font-size:200%;
      height:200%;
    }

    </style>

    <div class="container">
        <div class="col-md-8 col-md-offset-2">


            <form method="POST" action="" id="edit_profile">
                {% if user.is_moderator %}
                <div class="row">

                </div>
                <hr>
                {% endif %}
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group{% if form.mls_id.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_mls_id">MLS ID*</label>
                            <input type="text" class="form-control" id="id_mls_id" name="mls_id" value="{{ form.mls_id.value|default:"" }}">
                            {% if form.mls_id.errors %}
                            {% for error in form.mls_id.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_email">Email*</label>
                            <input type="text" class="form-control" id="id_email" name="email" value="{{ form.email.value|default:"" }}">
                            {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group{% if form.id_active.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_is_active">Active?</label>
                        </div>
                        {{ form.is_active }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
                          <label class="control-label" for="id_first_name">First Name</label>
                          <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ form.first_name.value|default:"" }}">
                          {% if form.first_name.errors %}
                          {% for error in form.first_name.errors %}
                              <span class="help-block">{{ error }}</span>
                          {% endfor %}
                          {% endif %}
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
                          <label class="control-label" for="id_last_name">Last Name</label>
                          <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ form.last_name.value|default:"" }}">
                          {% if form.last_name.errors %}
                          {% for error in form.last_name.errors %}
                              <span class="help-block">{{ error }}</span>
                          {% endfor %}
                          {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">

                        <div class="form-group{% if form.phone_number.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_phone_number">Phone Number</label>
                            <input type="text" class="form-control" id="id_phone_number" name="phone_number" value="{{ form.phone_number.value|default:"" }}">
                            {% if form.phone_number.errors %}
                            {% for error in form.phone_number.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="form-group{% if form.office_name.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_office_name">Office Name</label>
                            <input type="text" class="form-control" id="id_office_name" name="office_name" value="{{ form.office_name.value|default:"" }}">
                            {% if form.office_name.errors %}
                            {% for error in form.office_name.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {% csrf_token %}
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary btn-lg bottom-space">
                    </div>
                </div>

            </form>
        </div>

    </div>
{% endblock %}
