{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Broker Opens {% endblock %}


{% block content %}
<div id="sign_in1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 header">
                    <h4>Log in to your account</h4>
                    <p>Please enter your login and password</p>
                </div>

                <div class="col-sm-3 division">
                </div>

                <div class="col-md-12 footer">

                    <form action="" method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="text" placeholder="Email" class="form-control" name="username">
                        <input type="password" placeholder="Password" class="form-control" name="password">
                        <input type="submit" value="sign in">
                        <input type="hidden" name="next" value="{{ next|escape|default:"/my_listings/" }}" />
                    </form>
                  {% if form.errors %}
                      <p class="lead" style="color:#d58512; margin-top:-20px;">Sorry, that is not a valid username/password combo.</p>
                    {% endif %}
                </div>

                <div class="col-md-12 proof">
                    <div class="col-md-6 remember">
                        <a href="{% url 'password_reset' %}">Forgot password?</a>
                    </div>

                    <div class="col-md-6">
                        <div class="dosnt">
                            <span>Don’t have an account?</span>
                            <a href="{% url 'registration_register' %}">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
