
#footer .credits {
    border-top:none;

}

#footer{
    min-height:210px;
    margin-top:0px;
}

#aboutus{ min-height: 275px; margin-bottom:0px;}

#team{ margin-bottom: 0px;}

#sign_in1{ margin-bottom:0px;}

.email_wrapp{ margin-top:-20px; margin-bottom:-60px; }

.bottom-space{margin-bottom:50px;margin-top:10px;}

#custom_form .form-group input{
  font-size:200%;
  height:200%;
}

#custom_form .form-group select{
  font-size:200%;
  height:200%;
}

#main_content{min-height:525px;}

.property-page-buttons{margin-top:-20px; margin-bottom:25px;}