{% extends "base.html" %}
{% block content %}

    <div id="contact">
        <div class="container">
            <div class="section_header">
                <h3>Get in touch</h3>
            </div>
            <div class="row contact">
                <p>We’d love to hear from you.</p>

                <form method="POST" action=''>
                    {% csrf_token %}
                    <div class="row form">
                        <div class="col-sm-6 row-col">
                            <div class="box">
                                <input id="id_name" class="name form-control" type="text" name="name" placeholder="Name"
                                        value="{{ form.name.value|default:"" }}">{% if form.name.errors %}
                          {% for error in form.name.errors %}
                              <span class="help-block">{{ error }}</span>
                          {% endfor %}
                          {% endif %}
                                <input id="id_email" class="mail form-control" type="text" name="email" placeholder="Email"
                                        value="{{ form.email.value|default:"" }}">{% if form.email.errors %}
                          {% for error in form.email.errors %}
                              <span class="help-block">{{ error }}</span>
                          {% endfor %}
                          {% endif %}
                                <input id="id_phone" class="phone form-control" type="text" name="phone" placeholder="Phone"
                                        value="{{ form.phone.value|default:"" }}">{% if form.phone.errors %}
                          {% for error in form.phone.errors %}
                              <span class="help-block">{{ error }}</span>
                          {% endfor %}
                          {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <textarea id="id_body" name="body" placeholder="Type a message here..."
                                          class="form-control">{{ form.body.value|default:"" }}</textarea>
                                {% if form.body.errors %}
                          {% for error in form.body.errors %}
                              <span class="help-block">{{ error }}</span>
                          {% endfor %}
                          {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row submit">
                        <div class="col-md-5 box">
                            <label class="checkbox">
                                <input id="id_newsletter" name="newsletter" type="checkbox"> Sign up to be contacted when new broker opens are posted.
                            </label>
                        </div>
                        <div class="col-md-3 right">
                            <input type="submit" value="Send your message">
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="map">
            <div class="container">
                <div class="box_wrapp">
                    <div class="box_cont">
                        <div class="head">
                            <h6>Contact</h6>
                        </div>
                        <ul class="street">
                            <li>2301 East Lamar Blvd. Suite 140.</li>
                            <li>City, Arlington. United States,</li>
                            <li>Zip Code, TX 76006.</li>
                            <li class="icon icontop">
                                <span class="contacticos ico1"></span>
                                <span class="text">1 817 274 2933</span>
                            </li>
                            <li class="icon">
                                <span class="contacticos ico2"></span>
                                <a class="text" href="#">bootstrap@twitter.com</a>
                            </li>
                        </ul>

                        <p></p>

                        <a href="#" class="btn">Send Us A Message</a>
                    </div>
                </div>
            </div>

            <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=33.83669,-118.4834&amp;spn=0.045157,0.15398&amp;t=m&amp;z=11&amp;output=embed"></iframe>
        </div>
    </div>

{% endblock %}
