{% extends "base.html" %}

{% block tittle %}
    Thanks
{% endblock %}


{% block content %}

    <div class="container bottom-space">
        <h1>Thanks for your Message</h1>

        <p>We will answer you as soon as possible.</p>

    </div>

{% endblock %}
