<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Styles -->
    <link href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/compiled/bootstrap-overrides.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/compiled/theme.css" />

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="{{ STATIC_URL }}css/compiled/index.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/compiled/about.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/compiled/contact.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/compiled/sign-in.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/compiled/sign-up.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/compiled/overrides.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lib/animate.css" media="screen, projection" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><strong>BROKER OPEN PORTAL</strong></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="/">BROKER OPENS</a></li>
                {% if user.is_authenticated %}

                  {% if user.is_moderator %}
                    <li><a href="{% url 'agent_list' %}">USERS</a></li>
                  {% else %}
                    <li><a href="/my_listings">MY LISTINGS</a></li>
                    <li><a href="/my_info">EDIT MY INFO</a></li>
                    <li><a href="/contact">CONTACT US</a></li>
                  {% endif %}

                    <li><a href="/logout">LOG OUT</a></li>

                {% else %}
                    <li><a href="/contact">CONTACT US</a></li>
                    <li><a href="/login">LOG IN</a></li>
                {% endif %}


                </ul>
            </div>
        </div>
    </div>
    {% if messages %}
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message|safe }}
    </div>
    </div>
    {% endfor %}
    {% endif %}
    <div id="main_content">
    {% block content %}{% endblock %}
    </div>
    <!-- starts footer -->
    <footer id="footer">
        <div class="container">

            <div class="row credits">
                <div class="col-md-12">
                    <div class="row social">
                        <div class="col-md-12">
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>

                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-md-12">
                            © 2014 Broker Opens Portal. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/theme.js"></script>
    {% block javascript %}{% endblock %}

    {% if not debug %}
        <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-48521111-1', 'brokeropensportal.com'); ga('send', 'pageview');
        </script>
    {% else %}
    {% endif %}

</body>
</html>
