{% extends "base.html" %}

{% block title %}Edit Broker Open {% endblock %}

{% block content %}
     <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <h1>Broken Open</h1>
            </div>
            <div class="row">
                <form method="POST" action="" id="custom_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group{% if form.date.errors %} has-error{% endif %}">
                                <label class="control-label" for="id_date">Date</label>
                                <input type="text" class="form-control" id="id_date" name="date" value="{{ form.date.value|date:"SHORT_DATE_FORMAT"}}" placeholder="MM/DD/YYYY">
                                {% if form.date.errors %}
                                {% for error in form.date.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-sm-2">

                            <div class="form-group">
                                <label class="control-label" for="id_is_active">Active</label>

                            </div>
                            {{ form.active }}
                        </div>





                    </div>
                    <div class="row">
                        <div class="form-group{% if form.location.errors %} has-error{% endif %}">
                            <div class="col-sm-12">
                                <label class="control-label" for="id_location">Location</label>
                                <input type="text" class="form-control" id="id_location" name="location" value="{{ form.location.value|default:"" }}">
                                {% if form.location.errors %}
                                {% for error in form.location.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Save" class="btn btn-primary btn-lg bottom-space">
                        </div>
                    </div>
                </form>
            </div>
        </div>
     </div>
{% endblock %}
