{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Broker Opens {% endblock %}

{% block content %}
<style>
.buttons_area{padding-left:20px;}
.buttons_area .btn{margin-top:-20px;margin-left:5px;}
.modify-open-button{margin-top:2px;}
.not-visible-open{color:grey;margin-left:10px;}

</style>


<div id="aboutus">
    <div class="container">
        <div class="section_header">
            <h3>Upcoming Broker Opens</h3>
        </div>

        {% if broker_opens %}
        <table>
        {% for broker_open in broker_opens %}
            <tr>
              <td>

                <p class="lead"><a href="{% url 'property_list' broker_open.date|date:'m' broker_open.date|date:'d' broker_open.date|date:'y' broker_open.url_friendly_location %}">
                 {{ broker_open.date|date:"SHORT_DATE_FORMAT" }} - {{ broker_open.location }}</a>{% if broker_open.active == False and user.is_moderator%}<span class="glyphicon glyphicon-eye-close not-visible-open"></span>{% endif %}</p>
              </td>
              <td class="buttons_area">
                 {% if user.is_moderator %}
                    <a href="{% url 'edit_broker_open' broker_open.id %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil modify-open-button"></a>
                    <a href="{% url 'delete_broker_open' broker_open.id %}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this?')"><span class="glyphicon glyphicon-remove modify-open-button"></span></a>
                 {% endif %}

              </td>
            </tr>
        {% endfor %}
        </table>
        {% else %}
            <p class="lead">There are no upcoming broker opens.</p>
        {% endif %}
         {% if user.is_moderator %}
         <div class=col-md-4>
          <div class="row bottom-space">
            <a href="{% url 'new_broken_open' %}" class="btn btn-primary btn-large">Create New</a>
          </div>
        </div>
         {% endif %}

    </div>
</div>

{% comment %}{% include "broker_opens/_about.html" %}{% endcomment %}

{% endblock %}
