            <form method="POST" action="" id="custom_form">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group{% if form.address.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_address">Address</label>
                            <input type="text" class="form-control" id="id_address" name="address" value="{{ form.address.value|default:"" }}">
                            {% if form.address.errors %}
                            {% for error in form.address.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group{% if form.city.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_city">City</label>
                            <input type="text" class="form-control" id="id_city" name="city" value="{{ form.city.value|default:"" }}">
                            {% if form.city.errors %}
                            {% for error in form.city.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group{% if form.zip_code.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_zip_code">Zip Code</label>
                            <input type="text" class="form-control" id="id_zip_code" name="zip_code" value="{{ form.zip_code.value|default:"" }}">
                            {% if form.zip_code.errors %}
                            {% for error in form.zip_code.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group{% if form.beds.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_beds">Beds</label>
                            <input type="text" class="form-control" id="id_beds" name="beds" value="{{ form.beds.value|default:"" }}">
                            {% if form.beds.errors %}
                            {% for error in form.beds.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group{% if form.baths.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_baths">Baths</label>
                            <input type="text" class="form-control" id="id_baths" name="baths" value="{{ form.baths.value|default:"" }}">
                            {% if form.baths.errors %}
                            {% for error in form.baths.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group{% if form.price.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_price">Price</label>
                            <input type="text" class="form-control" id="id_price" name="price" value="{{ form.price.value|default:"" }}">
                            {% if form.price.errors %}
                            {% for error in form.price.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group{% if form.property_type.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_property_type">Property Type</label>
                            {{ form.property_type}}
                            {% if form.property_type.errors %}
                            {% for error in form.property_type.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group{% if form.broker_open.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_broker_open">Broker Opens List</label>
                            {{ form.broker_open}}
                            {% if form.broker_open.errors %}
                            {% for error in form.broker_open.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group{% if form.start_time.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_start_time">Start Time</label>
                            {{ form.start_time}}
                            {% if form.start_time.errors %}
                            {% for error in form.start_time.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group{% if form.end_time.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_end_time">End Time</label>
                            {{ form.end_time}}
                            {% if form.end_time.errors %}
                            {% for error in form.end_time.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>