    <div class="property-page-buttons">
      <a href="{% url 'moderator_create_listing' broker_open.id %}" class="btn btn-primary btn-large">Add Property</a>
      <a class="btn btn-warning btn-large upload-csv" data-toggle="modal" data-target="#myModal">Upload CSV</a>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" airia-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Select a File</h4>
              </div>

              <form method="post" enctype="multipart/form-data" action="{% url 'upload_csv' broker_open.id %}">

              <div class="modal-body">
                <div class="form-group">
                  <label for="CsvFile">CSV File</label>
                  <input type="file" id="CsvFile" name="csv_file">
                  <p class="help-block">Select the file you would like to use.</p>
                </div>
                {% csrf_token %}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Go</button>
              </div>

              <form>

            </div>
        </div>
    </div>