{% extends "base.html" %}

{% block title %}Agent Listing{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>My Listings</h2>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
            {% if properties %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>MLS #</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Broker Open</th>
                            <th></th>
                        </tr>
                    </thead>
                        {% for property in properties %}
                        <tr>
                            <td>{{ property.mls_id }}</td>
                            <td>{{ property.address }}</td>
                            <td>{{ property.city }}</td>
                            <td>{{ property.broker_open }}</td>
                            <td><a href="{% url 'edit_listing' property.mls_id %}"><button type="button" class="btn btn-primary btn-xs">Edit</button></a></td>
                        </tr>
                        {% endfor %}
                </table>
            {% else %}
              <p class="lead">You do not have any listings in the system.</p>
            {% endif %}

            <div class="bottom-space">
              <a href="/create_listing/"><button class="btn btn-primary">Create New Listing</button>
            </div>

            </div>
        </div>


    </div>

{% endblock %}