{% extends "base.html" %}

{% block title %}Edit Transaction{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ page_title }}</h2>
                </div>
            </div>
                {% include "properties/_edit_listing_form.html" %}
                <hr>

                 <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group{% if form.listing_agent.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_listing_agent">Listing Agent</label>
                            {{ form.listing_agent}}
                            {% if form.listing_agent.errors %}
                            {% for error in form.listing_agent.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group{% if form.latitude.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_latitude">Latitude</label>
                            <input type="text" class="form-control" id="id_latitude" name="latitude" value="{{ form.latitude.value|default:"" }}">
                            {% if form.latitude.errors %}
                            {% for error in form.latitude.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group{% if form.longitude.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_longitude">Longitude</label>
                            <input type="text" class="form-control" id="id_longitude" name="longitude" value="{{ form.longitude.value|default:"" }}">
                            {% if form.longitude.errors %}
                            {% for error in form.longitude.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                 </div>
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group{% if form.edited_by_user.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_edited_by_user">Edited By User?</label>
                        </div>
                        {{ form.edited_by_user }}
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group{% if form.sort_order.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_sort_order">Sort Order</label>
                            <input type="text" class="form-control" id="id_sort_order" name="sort_order" value="{{ form.sort_order.value|default:"" }}">
                            {% if form.sort_order.errors %}
                            {% for error in form.sort_order.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group{% if form.days_on_market.errors %} has-error{% endif %}">
                            <label class="control-label" for="id_days_on_market">Days On Market</label>
                            <input type="text" class="form-control" id="id_days_on_market" name="days_on_market" value="{{ form.days_on_market.value|default:"" }}">
                            {% if form.days_on_market.errors %}
                            {% for error in form.days_on_market.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                 </div>


                <div class="row">
                    {% csrf_token %}
                    <div class="col-sm-12">
                        <input type="submit" vale="save" class="btn btn-primary btn-lg bottom-space">
                    </div>
                </div>
            </form>

        </div>
    </div>

    <br />


{% endblock   %}