{% extends "base.html" %}

{% block title %}Edit Transaction{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ page_title }}</h2>
                </div>
            </div>


                {% include "properties/_edit_listing_form.html" %}

                <div class="row">
                    {% csrf_token %}
                    <div class="col-sm-12">
                        <input type="submit" vale="save" class="btn btn-primary btn-lg bottom-space">
                    </div>
                </div>
            </form>

        </div>
    </div>

    <br />


{% endblock   %}