{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %} Broker Opens {% endblock %}

{% block content %}

<style>

  @media (max-width: 1199px){
    .broker-open-list{
      font-size:75%;
    }
  }

  @media (min-width: 1200px){
    .broker-open-list{
      font-size:90%;
    }
  }

  #aboutus{padding-bottom:60px;}
  .upload-csv{margin-left:5px;}

</style>

<div id="aboutus">


    {% if property_list %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="section_header">
                <h3>{{ broker_open.date|date:"n/j/y"}} - {{ broker_open.location }}</h3>
            </div>
            {% if user.is_moderator %}
              {% include 'properties/_upload_csv_button_and_form.html' %}
            {% endif %}
            <div class="table-responsive">
                <table class="table table-striped broker-open-list">
                    <thead>
                        <tr>
                            <th>MLS #</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Street</th>
                            <th>City</th>
                            <th>Bd/Ba</th>
                            <th>Price</th>
                            <th>Type</th>
                            <th>DOM</th>
                            <th>Agent</th>
                            <th nowrap>Phone</th>
                            <th>Office</th>
                        </tr>
                    </thead>
                    {% for property in property_list %}
                    <tr>
                        <td>{% if user.is_moderator %}<a href="{% url 'edit_listing' property.mls_id %}"><span class="glyphicon glyphicon-pencil"></a> {% endif %}{% if not property.created_by_user %}{{ property.mls_id }}{% endif %}</td>
                        <td>{{ property.start_time|date:"g:i" }}</td>
                        <td>{{ property.end_time|date:"g:i" }}</td>
                        <td>{{ property.address.title }}</td>
                        <td>{{ property.city }}</td>
                        <td>{{ property.beds }} / {{ property.baths }}</td>
                        <td>${{ property.price|intcomma }}</td>
                        <td>{{ property.property_type }}</td>
                        <td>{{ property.days_on_market|default:"" }}</td>
                        <td>{% if user.is_moderator %}<a href="{% url 'moderator_edit_profile' property.listing_agent.mls_id %}?next={{ broker_open.url_to_this }}"><span class="glyphicon glyphicon-pencil"></a> {% endif %}{{ property.listing_agent.name }}</td>
                        <td>{{ property.listing_agent.phone_number }}</td>
                        <td>{{ property.listing_agent.office_name }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="grid-body no-border">
                <div class="row-fluid">
                    <div id="map-canvas" style='width:100%;height:380px;'></div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
    {% else %}
    <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="section_header">
                  <h3>{{ broker_open.date|date:"n/j/y"}} - {{ broker_open.location }}{% if broker_open.active == False and user.is_moderator%} <span class="glyphicon glyphicon-eye-close"></span>{% endif %}</h3>
                </div>
                {% if user.is_moderator %}
                    {% include 'properties/_upload_csv_button_and_form.html' %}
                {% endif %}
                <p class="lead">No properties have been added to this list yet...</p>
            </div>
    </div>
    {% endif %}


</div>

{% endblock %}


{% block javascript %}
<script src="http://maps.google.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript" ></script>


<script type="text/javascript">
    var bounds = new google.maps.LatLngBounds();
    var infowindow = new google.maps.InfoWindow();

  function makeMarker(map, lat, lng, color) {
    var mylatlng = new google.maps.LatLng(lat, lng)
    var marker = new google.maps.Marker({
      position: mylatlng,
      map: map,
    });
    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/' + color + '.png');
    bounds.extend(mylatlng)
    return marker
   }

  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(0, 0),
      zoom: 8,
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);


    {% for property in property_list %}
      {% if property.longitude %}
      marker{{ property.mls_id }} = makeMarker(map, {{ property.latitude }}, {{ property.longitude }}, 'red');
      google.maps.event.addListener(marker{{ property.mls_id }}, 'click', function() {
        infowindow.close();
        infowindow.setContent("<b>Address: </b>{{ property.address }}</b><br /><b>Price:</b> ${{ property.price|intcomma }}");
        infowindow.open(map, marker{{ property.mls_id }});
      });
      {% endif %}
    {% endfor %}

        map.fitBounds(bounds)
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endblock %}
