{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>{% trans "Your account is now activated." %}</p>
        </div>
    </div>
</div>
{% endblock %}
