{% extends "base.html" %}
{% load i18n %}

{% block content %}

<style>
#sign_up2{margin-bottom:60px;}
.password_space{min-height:16px;}
.forgot{margin-top:20px;}
</style>


<div id="sign_up2">
        <div class="container">
            <div class="section_header">
                <h3>Sign up</h3>
            </div>
            <div class="row login">
                <div class="col-sm-5 left_box">
                    <h4>Create your account</h4>

                    <div class="perk_box">
                        <div class="perk">
                            <span class="icos ico2"></span>
                            <p><strong>Add your broker opens</strong> to the list even if they are off-market.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico3"></span>
                            <p><strong>Edit your information</strong> so others can easily identify your listings.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico1"></span>
                            <p><strong>Receive updates</strong> when new broker open lists are sent out.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 signin_box">
                    <div class="box">
                        <div class="box_cont">




                            <div class="form">
                                <form method="post">
                                    {% csrf_token %}

                                    {{ form.email }}
                                    {% if form.email.errors %}
                                      <div class="has-error">
                                      {% for error in form.email.errors %}
                                          <span class="help-block">{{ error }}</span>
                                      {% endfor %}
                                      </div>
                                    {% endif %}


                                    {{ form.mls_id }}
                                    {% if form.mls_id.errors %}
                                      <div class="has-error">
                                      {% for error in form.mls_id.errors %}
                                          <span class="help-block">{{ error }}</span>
                                      {% endfor %}
                                      </div>
                                    {% endif %}



                                    {{ form.password1 }}
                                    {% if form.password1.errors %}
                                      <div class="has-error">
                                      {% for error in form.password1.errors %}
                                          <span class="help-block">{{ error }}</span>
                                      {% endfor %}
                                      </div>
                                    {% endif %}


                                    <div class="password_space"></div>
                                    {{ form.password2 }}
                                    {% if form.password2.errors %}
                                      <div class="has-error">
                                      {% for error in form.password2.errors %}
                                          <span class="help-block">{{ error }}</span>
                                      {% endfor %}
                                      </div>
                                    {% endif %}


                                    <div class="forgot">
                                        <span>Already have an account?</span>
                                        <a href="{% url 'login' %}">Sign in</a>
                                    </div>
                                    <input type="submit" value="Submit">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
