{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>{% trans "You are now registered.  Please check your email and follow the instructions to confirm your identity." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
