{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>{% trans "We are veryfing your information. Please wait for your Activation email within the next 24 hours." %}</p>
        </div>
    </div>
</div>
{% endblock %}
