{% extends "base.html" %}



{% block title %}Password Reset{% endblock %}

{% block content %}

<style>
  .password_reset p {
    font-size:120%;
    line-height:120%;
  }

  #id_email{
    margin-top:20px;
    margin-bottom:30px;
    height:75px;
    font-size:300%;
    width:100%;
  }

  .password_reset_button{
    height:50px;
    font-size:150%;

  }
</style>

<div class="container">
    <div class="section_header">
        <h1>Password Reset</h1>
    </div>

    <div class="password_reset">
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.email.errors }}
            {{ form.email }}
            <input class="btn btn-primary btn-xl password_reset_button" type="submit" value="Reset my password" /></p>
        </form>
    </div>

</div>
{% endblock %}
