{% extends "base.html" %}


{% block title %}Password reset complete{% endblock %}

{% block content %}

<div class="container">
    <div class="section_header">
        <h1>Password reset complete</h1>
    </div>

    <p>Your password has been set.  You may go ahead and log in now.</p>

    <p><a href="{% url 'login' %}">Log in</a></p>
</div>

{% endblock %}
